body {
    font: 12px sans-serif;
}

#container {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: row;
}

#input {
    flex: 1;
}

#paste {
    resize: none;
}

#content {
    flex: 2;
    position: relative;
}

#paste, #view {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}

